version: '3'

services:
  sonar3d:
    container_name: sonar3d
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: rosdev
        GID: 1000
        UID: 1000
    environment:
      - USERNAME=rosdev
      - GID=1000
      - UID=1000
      - "FASTRTPS_DEFAULT_PROFILES_FILE=/usr/local/share/middleware_profiles/rtps_udp_profile.xml"
      - DISPLAY=:0
      - XDG_RUNTIME_DIR=/tmp/runtime-rosdev
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "/dev/*:/dev/*"
      - ./ros2_ws/src:/home/rosdev/ros2_ws/src:cached
      - ../../data:/home/rosdev/data:cached
      - /mnt/Student_Workspace:/data:cached
    network_mode: "host"
    dns:
      - 1.1.1.1
      - 1.0.0.1
      - 8.8.8.8
    tty: true
    stdin_open: true
    privileged: true
    restart: always
    command: /bin/bash -c "source /home/rosdev/ros2_ws/install/setup.bash && ros2 launch sonar3d_reconstruction acoustic3d_launch.py"