# Date: 2024-04-08
# Sonar Configuration: 1 (forward-facing, 30 deg pitch, 0 deg roll)
transforms:
  - frame_id: base_link
    child_frame_id: otter
    invert: false
    translation:
      x: -0.26
      y: 0.0
      z: 0.0
    rotation:
      x: 0.0
      y: 0.0
      z: 0.0
  - frame_id: otter
    child_frame_id: otter_frd
    invert: true
    translation:
      x: 0.0
      y: 0.0
      z: 0.41
    rotation:
      x: 180.0 # Z axis will be pointing downwards
      y: 0.0
      z: 0.0 # The yaw of the Blueview is controlled here
  - frame_id: otter_frd
    child_frame_id: blueview_joint1
    invert: false
    translation:
      x: 0.0
      y: 0.0
      z: 1.24
    rotation:
      x: 0.0
      y: -30.0 # The pitch of the Blueview is controlled here
      z: 0.0
  - frame_id: blueview_joint1
    child_frame_id: blueview_joint2
    invert: false
    translation:
      x: 0.0
      y: 0.0
      z: 0.04
    rotation:
      x: 0.0 # The roll of the Blueview is controlled here
      y: 0.0 
      z: 0.0
  - frame_id: blueview_joint2
    child_frame_id: blueview
    invert: false
    translation:
      x: 0.1
      y: 0.0
      z: 0.12
    rotation:
      x: 0.0 
      y: 0.0
      z: 0.0
  - frame_id: base_link
    child_frame_id: os_sensor
    invert: false
    translation:
      x: 0.0
      y: 0.0
      z: 0.0
    rotation:
      x: 0.0
      y: 0.0
      z: 180.0
  - frame_id: os_sensor
    child_frame_id: os_lidar
    invert: false
    translation:
      x: -0.26
      y: 0.0
      z: 0.53
    rotation:
      x: 0.0
      y: 0.0
      z: 0.0
  - frame_id: os_sensor
    child_frame_id: os_imu
    invert: false
    translation:
      x: -0.26
      y: 0.0
      z: 0.53
    rotation:
      x: 0.0
      y: 0.0
      z: 0.0
  - frame_id: base_link
    child_frame_id: imu
    invert: false
    translation:
      x: 0.22
      y: 0.0
      z: 0.49
    rotation:
      x: 0.0
      y: -90.0
      z: 0.0
